In [1]:
#import dependencies needed for SQL work
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from flask import Flask, jsonify
import datetime as dt

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

import pandas as pd
import numpy as np

In [2]:
engine = create_engine('sqlite:///foreign_aid.sqlite', echo=False)

In [17]:
df1 = pd.read_csv("clean_data/gdp_lit_aid.csv")
df2 = pd.read_csv("clean_data/life_clean.csv")
df3 = pd.read_csv("clean_data/pie_data_sector.csv")

In [11]:
df3.head(3)

,Year,"I.1. Education, Total","I.2. Health, Total","I.5. Government & Civil Society, Total","II. Economic Infrastructure & Services, Total","II.5. Business & Other Services, Total","III. Production Sectors, Total","IV. Multi-Sector / Cross-Cutting, Total"
0,1990,5664.71,1613.27,1735.06,8382.07,394.33,6878.85,1871.51
1,1991,4973.52,1424.84,1387.19,12182.65,308.94,6199.57,1524.03
2,1992,4793.35,1617.43,1717.47,8038.75,430.42,8069.91,2041.24

In [18]:
class Sector(Base):
    __tablename__ = "sector_spending"
    id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Education = Column(Float)
    Health = Column(Float)
    Government = Column(Float)
    Economic = Column(Float)
    Business = Column(Float)
    Production = Column(Float)
    Cross_Cutting = Column(Float)

/Users/jayklein95/anaconda/envs/PythonData/lib/python3.6/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Sector, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'sector_spending' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [13]:
df2.head(4)

,Years,IDA only,Lower middle income,Low & middle income,"I.2. Health, Total"
0,1990,53.039285,59.513275,63.106052,1613.27
1,1991,53.301928,59.829442,63.326673,1424.84
2,1992,53.582540,60.183902,63.493558,1617.43
3,1993,53.885894,60.514125,63.653089,1654.98

In [14]:
class Life(Base):
    __tablename__ = "life_expectancy"
    id = Column(Integer, primary_key=True)
    Years = Column(Integer)
    IDA_countries = Column(Float)
    lower_middle_income = Column(Float)
    low_middle_income = Column(Float)
    health_spending = Column(Float)

In [16]:
df1.head(3)

,Country Name,year,GDP per capita (current US$),"Literacy rate, adult total (% of people ages 15 and above)",Net official development assistance and official aid received (current US$)
0,Afghanistan,1990,..,..,121720000
1,Afghanistan,1991,..,..,507530000
2,Afghanistan,1992,..,..,204900000

In [ ]:
class GDP_Lit_Aid(Base):
    __tablename__ = 'gdp_lit_aid'
    id = Column(Integer, primary_key=True)
    country = Column(String(255))
    year = Column(integer)
    gdp_per_capita = Column(Float)
    literacy = Column(Float)
    aid_received = Column(Float)

In [19]:
Base.metadata.create_all(engine)

In [20]:
df1.to_sql('gdp_lit_aid', engine, if_exists = "replace", index=True)
df2.to_sql('life_expectancy', engine, if_exists = "replace", index=True)
df3.to_sql('sector_spending', engine, if_exists = "replace", index=True)